/* To apply changes reload browser with cmd + option + r */

html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
    background-color: #111111;
}

h1 {
    padding-bottom: 3%;
    margin: 5%
}

form {
    margin: 5%;
}
