<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>{{channel}}</title>

        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
        <link rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
            integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
            crossorigin="anonymous">

        <script src="{{url_for('static', filename='/js/messages.js')}}"></script>


    </head>
    <body style="background-color: #111111">

        <div class="d-flex flex-row">
            <a href="/home"><input class="m-5 btn btn-light btn-lg" type=button value="HOME"></a>
            <h1 id="name" class="m-5 text-white">{{ channel }}</h1>
            <a href="/removeChannel/{{channel}}"><input class="m-5 btn btn-danger btn-lg" type=button value="Delete channel"></a>
        </div>

        <div class="border border-white mx-auto p-3" style="background-color: #222222; width: 75%">

            <ul id="chat">
                {% for message in messages %}
                    <li class="text-white">({{ message.time }}) {{ message.author }}: {{message.message}}</li>
                {% endfor %}
            </ul>

        </div>

        <div class="mx-auto m-5 row" style="width: 60%">
            <input class="col m-1" type="text" name="messageInput" id="messageInput" autofocus placeholder="Write your message here">
            <input class="m-1 btn btn-light btn-lg" id="send" type="button" value="Send">
        </div>




    </body>
</html>
