<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Project 2 - Messaging Website</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styling.css') }}">
        <link rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
            integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
            crossorigin="anonymous">

        <script>

            document.querySelector('#field').onkeyup = () => {
                if (document.querySelector('#field').value.length > 0):
                    document.querySelector('#submit').disabled = false;
                else:
                    document.querySelector('#submit').disabled = true;
            };

        </script>

    </head>
    <body>

        <h1 class="text-white center">Welcome to Project's 2 Messenger Web Application!</h1>

        <form action="{{ url_for('home') }}" method="post">
            <div class="form-group">
                <input id="field" class="form-control form-control-lg" type="text" name="name" placeholder="Enter your name here" autocomplete="false">
                <br>
                <button id="submit" class="btn btn-light btn-lg">Log In</button>
            </div>
        </form>

    </body>
</html>
